# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\projets_pycharm\UE2.4_projet_info\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
